<html ng-app="myApp">
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- Bower para gerenciar minhas dependências-->
      <!--<script src="../bower_components/angular/angular.js"></script>-->
      <script src="libs/angular.js"></script>
      <!-- Angular Material style sheet -->
      <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
      <script src="libs/angular-ui-routes.js"> </script>

      <script src="module.js"></script> <!-- Módulo principal -->
      <script src="routes.js"></script> <!-- Fazer a transição de páginas -->
      <script src="controllers/card-controller.js"></script>
      <script src="controllers/menu-controller.js"></script>
      <script src="controllers/details-controller.js"></script>
      <script src="directives/my-bar.js"></script>
      <script src="directives/profile-content.js"></script>
      <!--<script src="controllers/MainController.js"></script>-->
      <link rel="stylesheet" href="styles/main.css" /> <!-- CSS adicional para pequenas alterações no layout -->
  </head>

  <body style="background-color: #4F4F4F" ng-controller="cardController as mv">

  <!-- Barra de navegação -->
  <my-bar></my-bar>

  <div class="container-fluid" ng-controller="menuController as mc">

      <div class="row content" style="background-color: #4F4F4F">

          <!-- Container 3 colunas -->
          <div class="col-sm-3 sidenav" style=" margin:-10px 0px 0px 0px; background-color: darkred;">

                <profile-content> </profile-content>

                <!-- Menu -->
                <ul class="nav nav-pills nav-stacked" style="background-color: darkred;"
                    ng-repeat="menu in mc.menus">
                    <li> <md-button class="dj" ng-click="mc.updateMenu(menu.id)">{{menu.nome}} </md-button></li>
                </ul>
          </div>

          <!-- Cotainer 7 colunas -->
          <div class="col-sm-9" style="background-color: #4F4F4F;" ng-controller="DetailsController as md">

              <!-- Cartões de conteúdo -->
              <md-content class="md-padding" layout-xs="column" layout="row"
                          ng-repeat="content in mv.contents"
                          style="display: inline-block; margin: 10px 10px 10px 10px; background-color: #9C9C9C"
                          ng-show="mc.menuAtual == content.idMenu">
                  <md-card>
                           <img ng-src="images/{{content.img}}" class="md-card-image"
                           style="max-height:150px; max-width: 200px; margin: 20px 20px 0px 20px"
                           ng-click=" md.details(content); mc.updateMenu(0)"/>
                      <md-card-title>
                          <md-card-title-text>
                            <span class="md-headline" style="font-family: 'Open Sans Condensed', sans-serif;font-size: 20px;">
                                {{content.name}}</span>
                          </md-card-title-text>
                      </md-card-title>

                      <md-card-content>
                          <p style="font-family: 'Open Sans Condensed', sans-serif;font-size: 18px;"> {{content.author}} </p>
                      </md-card-content>

                      <!-- Ícones -->
                      <md-card-actions layout="row" layout-align="end center">
                          <md-button class="md-icon-button" aria-label="Favorite">
                              <md-icon md-svg-icon="images/icons/favorite.svg"></md-icon>
                          </md-button>
                          <md-button class="md-icon-button" aria-label="Settings">
                              <md-icon md-svg-icon="images/icons/menu.svg"></md-icon>
                          </md-button>
                          <md-button class="md-icon-button" aria-label="Share">
                              <md-icon md-svg-icon="images/icons/share-arrow.svg"></md-icon>
                          </md-button>
                      </md-card-actions>
                  </md-card>
              </md-content>
          </div>
      </div>
  </div>

  <!-- Rodapé-->
  <footer class="container-fluid" style="background-color: darkred">
      <h4 style="text-align: center; font-family: 'Open Sans Condensed', sans-serif;
            font-size: 20px;">di.jack9@gmail.com</h4>
  </footer>

  <ui-view> </ui-view>
  <!-- Angular Material requer Angular.js Libraries -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

  <!-- Bootstrap Libraries-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- Fontes do Google-->
  <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great|Open+Sans+Condensed:300" rel="stylesheet">

  </body>

</html>