<nav style="background-color: #1C1C1C; border-color: #1C1C1C;border-radius: 0px;" class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" style="font-family: 'Fredericka the Great', cursive;color:white;
                margin: 20px 10px 10px 0px; font-size: 25px;"
               class="navbar-brand">SHARE YOUR SKILLS</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li> <div class="input-group"
                          style="margin: 30px 150px 30px 8px; width: 200%; display: inline-flex">
                    <input type="text" class="form-control" placeholder="Procurar conteudo...">
                    <span class="input-group-btn">
                      <button style="padding: 9px" class="btn btn-default" type="button">
                      <span class="glyphicon glyphicon-search" style=""></span>
                       </button>
                      </span>
                </div>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><md-button style="background-color: darkred;
                          margin-top: 30px; font-family: 'Open Sans Condensed', sans-serif;font-size: 15px;"
                          class="md-warn md-raised md-hue-2">Login</md-button></li>
            </ul>
        </div>
    </div>
</nav>